.questions{
    display: grid ;
    grid-template-columns: repeat(2,1fr);
}

.titlefaq{
    position: relative;
    width: max-content;
    color: var(--textColor);
    margin: 1rem 0;
    z-index: 2;
}