:root{
    --PrimaryColor:hsl(199,100%,33%);
    --SecondaryColor :hsl(187,85%,43%);
    --gardientColor: linear-gardient(to right, #8BF0FD,#0073A8);
    --whiteColor: hsl(0,0%,100%);
    --blackColor:hsl(201,33%,16%);
    --textColor:hsl(240,4%,36%);
    --whiteColorDeam:hsl(0,0%,93%);
    --greyText: rgb(190,190,190);
    --inputColor:rgb(239,239,239);
    --bodyColor:rgb(240,240,246);
    --cardBG : rgb(225,225,235);
  }


// .home{
//     width :100%;
//     position: relative;
//     display:flex;
//     align-items:center ;
//     justify-content: center;
//     margin:auto;


//     .overlay{
//         position: absolute;
//         height:100%;
//         width:100%;
//         background: rgb(47,106,127);
//         top:0;
//         bottom:0;

//         z-index:1;
//         mix-blend-mode: hard-light;
//     }
//     video{
//         position:absolute;
//         height: 100%;
//         width: 100%;
//         top:0;
//         bottom:0;
//         object-fit: cover;

//     }
    
//     .homeContent{
//         width:100%;
//         height: max-content;
//         padding: 8rem 1.5rem 3rem;
//         display:flex;
//         row-gap:3rem;
//         flex-direction: column;
//         align-items: stretch;
//         justify-content: center;
//         margin: auto;
//         color:var(--whiteColor);
//         z-index:100;
//         .textDivevent{
//             padding:2rem 0 ;
//             .homeTitleevent{
//                 position: relative;
//                 font-size: 3rem;
//                 text-align: center;
//             }
//         }
//     }
// }

// .main {
//     width:100%;

//     .secTitle{
//         .icon{
//             font-size: 25px;
//             color:var(--PrimaryColor);
//             transform: translateY(5px);
//         }
//         .title {
//             position: relative;
//             width:max-content;
//             color:var(--textColor);
//             margin:1rem 0 ;
//             z-index:2;

//             &::after{
//                 position:absolute;
//                 content:'';
//                 background: var(--SecondaryColor);
//                 height: 5px;
//                 width: 120px;
//                 right:0;
//                 bottom:5px;
//                 z-index: -1;

//             }
//         }
//         //
        
//     }


//     .secContent{
//         justify-content: center;
//         gap:1.5rem;

//         .singleDestination{

//             height: 100%;
//             display: grid;
//             row-gap:10px;
//             //padding:1rem;
//             border-radius:10px;
//             align-items:center;
//             background: var(--cardBG);
//             box-shadow:0 2px 4px rgba(140, 140, 141, 0.549);
//             overflow: hidden;
//             &:hover{
//                 background:var(--cardHover);
//                 box-shadow:1 4px 4px rgba(85, 85, 114, 0.549);
//                 transition: .3s ease;
//             }

//             .imageDiv{
//                 height: 180px;
//                 width:100%;
//                 overflow:hidden;


//                 img{
//                     height: 100%;
//                     width: 100%;
//                     object-fit: cover;
//                     transition: 2s ease;
//                 }
//                 &:hover{
//                     img{
//                         transform: scale(1.1);
//                     }
//                 }
//             }

//             .cardInfo{
//                 padding: 1rem;

//                 .desTitle{
//                     color:var(--blackColor);
//                     font-size: 1.25rem;
//                 }
//                 .continent{
//                     gap:  .5rem;


//                     .icon{
//                         color:var(--textColor);
//                         font-size:18px;
//                     }
//                     .name{
//                         color:var(--textColor);
//                         font-weight:400;
//                         font-size:14px;

//                     }
//                 }

//                  .fees{
//                     width:100%;
//                     justify-content: space-between;
//                     padding: 1rem;
//                     margin:1rem 0;
//                     border-top: 1.5px solid var(--greyText);
//                     border-bottom: 1.5px solid var(--greyText);


//                     .grade{
//                         color:var(--textColor);
//                         max-width: 100px;
//                         line-height: 20px;
//                         display: flex;
//                         align-items:center;
//                         justify-content: center;


//                         small{
//                             text-align: center;
//                             // background: var(--SecondaryColor);
//                             background-image: linear-gradient(to right, #10b5ca, #00a5c4, #0094bd, #0084b3, #0073a8);
//                             border-radius: 1rem;
//                             color:var(--whiteColor);
//                             padding: 1px 10px;
//                             font-size:10px;
//                         }
//                     }

//                     .price{
//                         font-size:2 rem;
//                         color:var(--blackColor);

//                     }
//                  }

//                  .desc{
//                     font-size:13.5px;
//                     color: var(--textColor);
//                     font-weight: 500;

//                  }

//                  .btn{
//                     margin-top:1rem;
//                     color:var(--whiteColor);
//                     font-weight: 600;
//                     justify-content: space-between;
//                     gap: .5rem;

//                     .icon{
//                         align-self:center;
//                         font-size:18px;

//                     }
//                  }

//             }
//         }
//     }
//   }
//   #custom{
//     width :80%;
//     position: relative;
//     display:flex;
//     align-items:center ;
//     justify-content: center;
//     margin:auto;
//   }

.tours{
    .secContainer-tour{
        .secTitle-tours{
                    color: var(--textColor);
                    font-size: 45px;
                    text-align: center;
        }
        .tourContainer{
            display: grid;
            gap: 1rem;

            .singleTour{
                width:100%;
                position: relative;
                border: 1px solid var(--greyColor);
                padding-bottom: 1rem;
                border-radius: 10px;
                overflow: hidden;
                transition: 4s ease;
                gap: 2rem;
                display: grid;
                grid-template-columns: repeat(2,1fr);

                &:hover{
                    background: var(--greyColor);
                    
                }
                .imgDiv{
                   
                    height: 200px;
    width: 100%;
    border-radius: 1rem;
    border: 5px solid var(--greyBg);
    box-shadow: 0 2px 8px 2px rgb(178 178 178 / 41%);
    overflow: hidden;

                    img{
                        height: 100%;
                        object-fit: cover;
                        transition: .3s ease-in-out;
                    }
                    &:hover{
                        img{
                            transform: scale(1.1);
                        }
                    }
                }
                .tourInfo{
                    padding: 0 1rem;

                    .tourTitle{
                        font-size:15px;
                        color:var(--PrimaryColor);
                        font-weight:600;
                    }
                    .stars_review{
                        align-items: center;
                        gap: .5rem;
                        padding: 1rem 0;

                        .stars{
                            color:rgb(255,215,0);
                            .icon{
                                font-size:14px;

                            }
                        }
                        .custReview{
                            font-size: 13px;
                            transform:translateY(-2px);
                        }
                    }
                    p{
                        padding-bottom:1rem ;
                    }
                    .btn{
                        padding: 0.6rem 1.5rem;
                        background-image: linear-gradient(to right, #10b5ca, #00a5c4, #0094bd, #0084b3, #0073a8);
                        border-radius: 3rem;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        color:white;
                        transition: .3s ease;
                    }
                    &:hover{
                        color:var(--PrimaryColor);
                        border:2px solid var(--greyText);
                    }
                }
            }

            .price{
                position: absolute;
                padding: 10px;
                background-image: linear-gradient(to right, #10b5ca, #00a5c4, #0094bd, #0084b3, #0073a8);
                top:0;
                right:0;
                color:white;
                font-size: 15px;
                font-weight:800;

            }

        }
    }
}

.home-event{
    width :100%;
    position: relative;
    display:flex;
    align-items:center ;
    justify-content: center;
    margin:auto;



    .overlay-event{
        position: absolute;
        height:100%;
        width:100%;
        background: rgb(47,106,127);
        top:0;
        bottom:0;

        z-index:1;
        mix-blend-mode: hard-light;
    }

    video{
        position:absolute;
        height: 100%;
        width: 100%;
        top:0;
        bottom:0;
        object-fit: cover;

    }

.event-content{
            width:100%;
            height: max-content;
            padding: 8rem 1.5rem 3rem;
            display:flex;
            row-gap:3rem;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;
            color:var(--whiteColor);
            z-index:100;
            .textDivevent{
                padding:2rem  ;
                width:max-content;
                .eventTitle{
                    position: relative;
                    font-size: 45px;
                    text-align: center;
                }
            }
        }

    }