:root{
    --PrimaryColor:hsl(199,100%,33%);
    --SecondaryColor :hsl(187,85%,43%);
    --gardientColor: linear-gardient(to right, #8BF0FD,#0073A8);
    --whiteColor: hsl(0,0%,100%);
    --blackColor:hsl(201,33%,16%);
    --textColor:hsl(240,4%,36%);
    --whiteColorDeam:hsl(0,0%,93%);
    --greyText: rgb(190,190,190);
    --inputColor:rgb(239,239,239);
    --bodyColor:rgb(240,240,246);
    --cardBG : rgb(225,225,235);
  }



.pagination span{
    
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--SecondaryColor);
    color:var(--whiteColor);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight:700;
    
}
.active_page{
    background: var(--SecondaryColor);
    color:#fff;
}