@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Spartan:wght@300;400;500&display=swap");
:root {
  --PrimaryColorvole: hsl(225, 50%, 48%);
  --SecondaryColorvole: hsl(180, 17%, 95%);
  --colorOnevole: hsl(15, 74%, 70%);
  --colorTwovole: hsl(28, 100%, 82%);
  --HoverColorvole: hsl(225, 56%, 59%);
  --whiteColorvole: hsl(0, 0%, 100%);
  --blackColorvole: hsl(0, 0%, 12%);
  --textColorvole: hsl(240, 1%, 48%);
  --borderColorvole: hsl(0, 0%, 83%);
  --whiteColorDeamvole: hsl(0, 0%, 93%);
  --greyBgvole: hsl(0, 0%, 96%);
  --greyTextvole: rgb(145, 145, 145);
  --inputColorvole: hsl(330, 12%, 97%);
  --boxShadowvole: box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --transition: .4s ease-in-out;
}

.voleone {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Spartan", sans-serif;
  transition: 0.2s ease;
}

.voleone .voleonemainText {
  color: var(--blackColorvole);
  font-weight: 700;
  font-size: 15px;
  line-height: 2.5rem;
}

.voleone .mainImages {
  width: 100%;
  margin: 1rem auto 0;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5rem;
}

.voleone .mainImages .videoDiv {
  width: 100%;
}

.voleone .mainImages .videoDiv .video {
  border-radius: 10rem;
}

.voleone .mainImages .plane {
  position: absolute;
  width: 100%;
  top: -10%;
}

@media screen and (min-width: 480px) {
  .voleone {
    padding-top: 12rem;
  }
}
@media screen and (min-width: 570px) {
  .voleone .volemainmainText {
    width: 80%;
  }
  .voleone .mainImages .video {
    border-radius: 15rem;
  }
  .voleone .mainImages .plane {
    position: absolute;
    width: 95%;
    top: -8%;
  }
}
@media screen and (min-width: 680px) {
  .voleone .volemainText {
    width: 80%;
  }
  .voleone .mainImages .videoDiv {
    width: 80%;
  }
  .voleone .mainImages .videoDiv .video {
    height: 100%;
    width: 100%;
    border-radius: 15rem;
  }
  .voleone .mainImages .plane {
    position: absolute;
    width: 95%;
    top: -8%;
  }
}
@media screen and (min-width: 960px) {
  .voleone {
    padding-top: 13rem;
  }
  .voleone .volemainText {
    width: 70%;
    padding-bottom: 1.5rem;
    font-size: 22px;
    line-height: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 15px;
    line-height: 25px;
  }
  h4 {
    font-size: 20px;
  }
  h2 {
    font-size: 27px;
  }
  .container {
    width: 75%;
    margin: auto;
  }
  .section {
    padding: 6rem 0 4rem;
  }
  .voleone .volemainText {
    width: 60%;
    padding-bottom: 1.5rem;
    font-size: 25px;
    line-height: 4rem;
  }
  .voleone .mainImages .videoDiv {
    width: 90%;
    height: 300px;
  }
  .voleone .mainImages .videoDiv .video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 15rem;
  }
  .voleone .mainImages .plane {
    position: absolute;
    width: 100%;
    top: -10%;
  }
}
@media screen and (min-width: 1106px) {
  .voleone .mainImages .videoDiv {
    width: 90%;
  }
  .voleone .mainImages .videoDiv .video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 15rem;
  }
  .voleone .mainImages .plane {
    position: absolute;
    width: 100%;
    top: -10%;
  }
}
@media screen and (min-width: 1332px) {
  .voleone .mainImages .plane {
    position: absolute;
    width: 100%;
    top: -10%;
  }
}
@media screen and (min-width: 1440px) {
  .voleone .mainImages .plane {
    position: absolute;
    width: 90%;
    top: -30%;
  }
}
::-moz-selection {
  background: var(--PrimaryColorvole);
  color: var(--whiteColorvole);
}

::selection {
  background: var(--PrimaryColorvole);
  color: var(--whiteColorvole);
}

/*# sourceMappingURL=Voleone.css.map */